[2022-08-22 07:17] #1209 closed

[2022-08-22 07:19] Wiz1991 commented on #1209
Fixed.
After debugging for a bit more i discovered that the source code is using immer while not having it as a dependecy. So after installing immer, it's all working correctly.

But this is off, shouldn't immer be added as a dep on zustand?

[2022-08-22 09:08] dai-shi commented on #1209
immer is listed as a peer dependency. because it's not always used, it shouldn't be a normal dependency.

[2022-08-22 10:24] C-Otto opened #1210 "(middlware/persist): Limitations are not documented"
Based on #618 and #652 there are limitations to what can be stored. Aside from the actual reasons for this limitation, users should be made aware of this. If this can be done using the typesystem for TypeScript users, that'd be great (I'm used to Java). If not, please add a big fat warning so that users don't run into issues. Without proper documentation, there's no way to know if the code you're

[2022-08-22 11:13] Wiz1991 commented on #1209
Is that why its not exported like the rest of the middleware?

[2022-08-22 11:17] dai-shi commented on #1209
Yeah, exactly.
Otherwise, people have to install immer without using it.

[2022-08-22 12:03] platon-rov commented on #132
@woehrl01 it won't be cached, isn't it?

[2022-08-22 14:22] woehrl01 commented on #132
@platon-rov no, it won't be cached. For caching you likely need to use a subscription to explicitly track and update dependencies.

[2022-08-22 20:45] feuersteiner commented on #211
answers perfectly. All I wanted to know is if there's some penalties to either (especially in a high store update environment) (questions I had, if it were all inside a contained store, would a function call trigger unnecessary re-renders.... that type of problem).
どうもありがとうございます

[2022-08-23 23:03] lkdm commented on #1210
Should absolutely be documented.

If you want to use Maps or Sets, as a workaround you can convert objects that you know should be a Set or Map back into that, on load. We had to do this for one of our projects.

However, I recommend just using Arrays and `Record<string, unknown>` (object) types in your stores and persist.

[2022-08-24 07:19] chrisk-7777 opened #1215 "[documentation update] Add top level structure to new docs site"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

The new document site is currently with the following top level categories: "Introduction, Recipes, etc"
This issue is to introduce a similar structure is Jotai, which is quite clear to a newcomer.

The structure will be (and can be iterated on in the future):

    - Getting Started
    - Basics
        - Concepts: Some of

[2022-08-24 07:20] chrisk-7777 opened #1216 "[documentation update] Missing images & dead links audit"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

There are missing images (like on the introduction page) and dead links (like on the v4 migration page).
The person on this issue should (manually) scan through the docs pages looking for missing images or broken links.

A single PR should be able to apply all the fixes

Blocked by: https://github.com/pmndrs/zustand/issues

[2022-08-24 07:21] chrisk-7777 opened #1217 "[documentation update] Grammar, spelling, and phrasing audit"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

A sweep of all documentation pages for any obvious grammar or spelling mistakes.

Blocked by https://github.com/pmndrs/zustand/issues/1215

[2022-08-24 07:23] chrisk-7777 opened #1218 "[documentation update] Style fixes"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

There are some minor style fixes that could be made. Examples:
 - The `<summary>` child content isn't indented / nested so is lost in the body
 - `<code>` in headings are incorrectly sized (such as on the v4 migration page)

Blocked by https://github.com/pmndrs/zustand/issues/1215

[2022-08-24 07:24] chrisk-7777 opened #1219 "[documentation update] Dark mode"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

Add a dark mode to the new documentation site.
This is a "nice to have"

Blocked by https://github.com/pmndrs/zustand/issues/1215

[2022-08-24 07:28] chrisk-7777 opened #1220 "[documentation update] Individual page audit"
Core conversation here: https://github.com/pmndrs/zustand/discussions/1033

For each of the pages on the new documentation site, audit each page for clear, concise explanations, checking code snippets are correct, and conveys the correct information.

Blocked by https://github.com/pmndrs/zustand/issues/1215

Current list of pages, may change based on 1215 (above)

 - [ ] 3rd party libraries
 - [ ]

[2022-08-24 08:54] dai-shi commented on #1219
Our website is currently hosted under https://github.com/pmndrs/website/tree/docs.
cc @CodyJasonBennett

[2022-08-24 10:13] chrisk-7777 commented on #1219
Thanks for the heads up Daishi. I was thrown by the Jotai site, but it operates differently to the others.

[2022-08-24 14:34] CodyJasonBennett commented on #1219
I'm trying to unbury the docs site since it was otherwise abandoned. I unblocked some infrastructure stuff so hopefully, we're now able to give it more visibility in a repo and work/document a design system.

[2022-08-25 10:34] #1215 closed

[2022-08-25 14:02] 1z0ldyck opened #1224 "Using shallow returns "Property X does not exist on type 'StoreApi<unknown>'."
![Captura de tela de 2022-08-25 11-01-42](https://user-images.githubusercontent.com/65691609/186685677-fc520293-1388-420d-9aeb-78ce706c969a.png)

Any help?

[2022-08-26 02:52] chrisk-7777 commented on #1216
@lowellwashere2020 I can't assign it to you via Github, but I'll assume you're working on this one :)

[2022-08-26 03:42] lowellwashere2020 commented on #1216
@chrisk-7777 Indeed. I'm on it.

[2022-08-26 10:32] matteomontipo opened #1228 "setState outside of component doesn't update"
Zustand: 4.0.0
Next: 12.2.5
React: 18.2.0

My store is set inside store.js as all the other Zustand stores:

[code]

inside my @/utils/get.js file I try to update the number by 1, using setState as:

[code]

shouldn't this increment by 1 each loop? why is always 0? I use other stores the same way in the same file and all work but this one.

(are there any known conflicts with next-pwa ? using vers

[2022-08-26 11:57] Exalted100 commented on #1220
I'm working on subtask 'testing'.

[2022-08-26 12:31] Exalted100 commented on #1220
Do I create a new PR for each subtask or should I create one PR when I'm done with all subtasks?

[2022-08-26 12:35] chrisk-7777 commented on #1220
Some of the pages are quite huge (like recipes).
Personally I would think smaller PR's are better - be it one or a few.

@dai-shi ultimately will be the one approving/merging them, so I'll leave it up to him (he's away for a few days, so there may be a delay over the weekend).

[2022-08-26 14:03] Exalted100 commented on #1220
I've worked on testing. Next, I'll work on autogenerating selectors, flux inspired practice, event handler in pre react 18, and immutable state and merging. I'll make a single PR for the changes I make to all five documents.

[2022-08-26 19:16] Exalted100 commented on #1220
Made a PR for the completed tasks here: https://github.com/pmndrs/zustand/pull/1231

Next, will be working on maps and sets usage, practice with no store actions, typescript, and updating nested state object values. Of course it will be in a separate PR.

[2022-08-27 15:12] DonatelloTHM opened #1232 "[Help needed] TS issues when creating a store factory."
Hi, I'm trying to create a small helper to generate a store with `immer, subscribeWithSelector, devtools` middlewares. I'm not sure if I got the types right as I'm getting `error TS2349: This expression is not callable.
  Type 'never' has no call signatures.` everywhere I'm invoking `set` or `get`.

`Zustand 4.1.1`
[code]

I also tried to explicitly specify the return type:
[code]
That didn't real

[2022-08-27 19:26] JorisKok opened #1233 "Broken link in readme"
There is a broken link in the readme on the following line: https://github.com/pmndrs/zustand/blame/main/readme.md#L493

[2022-08-28 07:37] dai-shi commented on #1233
#1230 fixes it.

[2022-08-28 07:37] #1233 closed

[2022-08-28 07:41] dai-shi commented on #1220
Yes, I will merge PRs. But if @chrisk-7777 approves PRs, it helps moving forward, so please feel free to do so. Also, I may explicitly request for reviews.

[2022-08-28 07:52] #1228 closed, assigned to nobody

[2022-08-28 09:59] chrisk-7777 commented on #1220
Happy to review PRs. @Exalted100 I'll review later tonight 👍

[2022-08-28 13:01] chrisk-7777 commented on #1220
#1231 Approved. Well written @Exalted100

[2022-08-29 10:05] razzeee commented on #1059
I'm getting the same error as @httpete when using `import actualCreate from 'zustand'` inspite of us using jest.

If I use `const actualCreate = jest.requireActual('zustand') // if using jest` like the docs mention I end up with `TypeError: actualCreate is not a function`

[2022-08-29 14:56] #1008 closed

[2022-08-30 03:53] mkuklis opened #1242 "Typescript issue when trying to combine multiple middlewares in v4.1.1"
I tried to follow the docs from here: https://docs.pmnd.rs/zustand/guides/typescript#using-middlewares

but when I try to combine multiple middlewares like:

[code]

I'm getting:

[code]

Is there any workaround for this?

[2022-08-30 04:13] mkuklis commented on #1242
Ah never mind I did not read the docs closely enough. I see that something like this works just fine:

[code]

[2022-08-30 04:13] #1242 closed

[2022-08-30 14:20] gfox1984 commented on #1059
I had the same error as @httpete and @razzeee, but with the change @dai-shi suggested in his [previous comment](https://github.com/pmndrs/zustand/issues/1059#issuecomment-1207497931), it's working fine now.

Im using Jest and my file is called `zustand.ts` (not `.js`, unlike the docs suggest) and it is located in the `__mocks__` folder (at the root of my `tests` folder, where I've put all my tests

[2022-08-30 14:51] mkuklis commented on #1242
Reading the docs closer it says:

"_Just make sure you're using them immediately inside create so as to make the contextual inference work. Doing something even remotely fancy like the following myMiddlewares would require more advanced types._"

[code]

It would be still nice to see a TypeScript example that illustrates that kind of setup. The `myMiddlewares` example is useful in situations when

[2022-08-30 16:56] devanshj commented on #1242
See the [advanced usage section](https://github.com/pmndrs/zustand/blob/main/docs/guides/typescript.md#authoring-middlewares-and-advanced-usage) in that same document.

I can give you the answer for this case, it'd look like the following... But if you want to come up with types for such things yourself you'll first have to understand the types by reading #710.

[code]

[2022-08-30 17:12] mkuklis commented on #1242
Thank you for your time and for responding @devanshj. This is very helpful.

[2022-08-30 17:15] devanshj commented on #1242
No problems!

[2022-08-31 01:10] IRediTOTO commented on #324
Hmm how to solve this...

[2022-09-01 11:56] larsqa commented on #324
I don't get why the hate for this comment. Sure, it's not "built-in", but that's because it allows the developer to decide how to solve this issue.

I guess, what most people here would like to have is, when using `persist` middleware, to have [`_hasHydrated`](https://github.com/pmndrs/zustand/blob/main/docs/integrations/persisting-store-data.md#how-can-i-check-if-my-store-has-been-hydrated) by de

[2022-09-01 12:49] larsqa commented on #346
**FYI:** This is not true, if you're using Next.js with Static Site Generation (`getStaticPaths`) and the persist middleware, then the server side rendered page will differ from the client side page due to the zustand store maybe receiving updated values from the client side store (this is called hydration).

 #324 Explains this more in detail

[2022-09-01 18:06] devanshj opened #1253 "Document for Slices Pattern"
From https://github.com/pmndrs/zustand/pull/1177#issuecomment-1209592975

Currently there are a couple of links in some documents that link to the TypeScript guide for slices pattern. Which isn't great because the TypeScript guide only documents the TypeScript instructions and code for slices pattern, it does not introduce or explain slices pattern itself, nor it should, there should be a seperate

[2022-09-01 22:51] dai-shi commented on #1253
cc @chrisk-7777

[2022-09-02 04:02] guymoon opened #1254 "Document for state with URL hash."
### Discussed in https://github.com/pmndrs/zustand/discussions/1251

Add a state with URL Hash using `persist` middleware accepts custom storage like hashStorage.

[2022-09-02 04:05] guymoon commented on #1254
I work on this. Thank you!

[2022-09-02 07:13] harry-sm commented on #132
The correct syntax for a getter according to typescript is
```  get isSignedIn () { !!get().user.usernamecomponents? }```
not
```  get isSignedIn: () => !!get().user.usernamecomponents?```

How does it work? @woehrl01

[2022-09-02 10:13] chrisk-7777 commented on #1253
Thanks @devanshj - just to confirm, we should have:
 - one dedicated page for slices in plain JS
 - a section within the TypeScript page to cover how to apply types to the slices pattern
 - probably cross-linked to each other (slice page to typescript section, and typescript section to slice page)

[2022-09-02 12:46] dai-shi commented on #1013
As https://tsplay.dev/N5LjVw shows, TS v4.4.4 causes an error.
TS v4.5.5 works fine.
Maybe, we should note about minimal supported TS version. @chrisk-7777
(I think if one doesn't use middleware, TS v4.4.4 works fine, though.)

[2022-09-02 16:33] devanshj commented on #1253
Yes, except we already have [a section in TypeScript page regarding slices pattern](https://github.com/pmndrs/zustand/blob/main/docs/guides/typescript.md#slices-pattern) (which is the second point).

[2022-09-03 02:41] chrisk-7777 commented on #1216
Hi @drcmda , would you happen to know what the content of https://codesandbox.io/s/amazing-kepler-swxol was originally? It is referenced a few times in the Zustand docs but is no longer available.

I haven't had much luck plucking it from waybackmachine.

[2022-09-03 02:57] chrisk-7777 commented on #1218
Fixed by https://github.com/pmndrs/website/pull/250
Thanks @CodyJasonBennett ! 🚀

cc @dai-shi

[2022-09-03 02:57] #1218 closed

[2022-09-03 08:12] lowellwashere2020 commented on #1216
I haven't been able to find it either. I asked in the discord as well.

[2022-09-05 12:53] judicaelandria opened #1263 "[BUG] Zustand produce a ts error when using combine with persist"
[Example](https://codesandbox.io/s/blissful-sea-p146jz?file=/store.ts)
It's working in v 3.6.8 but not anymore in the latest version which is 4.1.1. and all the types are unknown.

[2022-09-07 03:52] xiazhichen24 commented on #100
Really nice state management library. Appreciate your creativity.

[2022-09-07 09:36] 23silent opened #1268 "Setting nested state from catch with using the Hermes cause Unhandled Promise Rejection"
Code example

`
import React, { useEffect } from 'react';
import create from 'zustand';

const useStore = create(() => ({
    someData: {
        fetch: () => {},
        fetching: 'initial'
    }
}))

export const useZustandTest = () => {
    useEffect(() => {
        (async () => {
            try {
                throw new Error('error')
            } catch (error) {
                // useStor

[2022-09-07 10:06] dai-shi commented on #1268
[code]
These two look logically the same. I wonder if the error comes from somewhere else.

[2022-09-07 10:17] 23silent commented on #1268
[code]

Looks the same, but works differently idk why. Only with Hermes enabled

[2022-09-08 09:33] #1254 closed

[2022-09-09 10:43] osaxon commented on #510
Old thread but I'm having the same issue and having to implement useState and useEffect as mentioned by PhilipWee and api42.
It doesn't feel like a good solution though to me as I'm having to write states twice in my components - one to store the Zustand state value from localStorage and then one for my useState. Feels a bit hacky.

[2022-09-10 10:13] lewisd1996 opened #1278 "React 18 strict mode changes behaviour. Updating my store via a useEffect does not rer-ender components."
### Versions:
NextJS: "^12.3.0"
React: "^18.2.0"
Zustand: "^4.1.1"

### Bug
When my page loads, it gets a "post" from my app and prefills some fields, like so:

[code]

This all happens in my `EditListing` component:

[code]

These fields e.g. `title` are then used in their respective components, e.g. `ListingTitle.tsx`:
[code]

### Screenshots

On page load, my app looks like this:

<img width="1

[2022-09-11 13:21] codedbyjordan opened #1287 "Missing "./react" export in "zustand" package"
Currently when I try to use any sort of Zustand state, even from the docs, I get an error saying `Missing "./react" export in "zustand" package`. I am using Vite and TypeScript.

[code]

Here is my vite.config.ts

[code]

[2022-09-11 13:28] dai-shi commented on #1287
We don't have `./react` export from the beginning.
Someone asked the same thing before. Does vite do something weird?

[2022-09-12 08:43] FrankFang commented on #957
Could you show your final code?

[2022-09-12 21:10] apudiu commented on #508
Now how to use middleware with this setup? Zustand docs are really confusing to me. specially I think the docs are not updated to latest version (v4)

[2022-09-12 23:29] lkdm commented on #100
The amount of times this group has helped me during my junior engineering role has been unreal. I started using Zustand about a year ago when the documentation was a bit more sparse, and the contributors answered so many of my questions. The level of care these guys have, not only for their code and documentation, but also ensuring that newer people understand how to use the package is incredible.

[2022-09-13 21:07] evanpurkhiser commented on #132
@harry-sm you need a return then as well

[code]

[2022-09-14 17:05] a-toms commented on #1145
A tided and deduplicated version:

[code]

[2022-09-14 17:07] a-toms commented on #583
This is not working currently. See https://github.com/pmndrs/zustand/issues/1145 for a fix as of writing.

[2022-09-15 02:14] ecatugy commented on #508
Hello, are there examples of how to create slides with typescript and NextJS ?

[2022-09-15 06:40] Stars22 opened #1295 "Mocking zustand gives error that actual zustand import is not a function"
Hello, I'm trying to mock zustand module, but I got an error that originalModule is not a function. Here is my mock
[code]

[2022-09-15 11:42] #1216 closed

[2022-09-15 11:43] chrisk-7777 commented on #1219
Closed in favor of https://github.com/pmndrs/website/issues/137

[2022-09-15 11:43] #1219 closed

[2022-09-16 01:59] ecatugy commented on #508
@apudiu   Slices in latest version (v4) with middleware

` store.ts`

[code]

` createProductSlice.ts`

[code]

` index.tsx`

[code]

[2022-09-16 04:04] orangeswim commented on #1253
https://github.com/pmndrs/zustand/blob/main/docs/guides/typescript.md#slices-pattern
and https://github.com/pmndrs/zustand/blob/main/docs/guides/flux-inspired-practice.md
have two different ways of doing slices.
The slices pattern is not clear enough in itself on how to easily create a store with distinct slices.
For example, the slices-pattern doesn't explain clearly how I can persist one slice a

[2022-09-16 04:36] orangeswim commented on #508
How can we apply this, to only persist one slice ? (or use separate middleware for each slice)

[2022-09-16 07:03] kecoliva commented on #394
I just discovered something. Not sure if this is correct but for some reason it works.

So if ever you want to use Expo's **expo-secure-store**:

[code]

[2022-09-17 15:24] KaiSpencer opened #1300 "redux-middleware sandbox link broken"
The [link](https://codesandbox.io/s/amazing-kepler-swxol) to the example for redux-middleware shows
Sandbox not found
<img width="1441" alt="Screenshot 2022-09-17 at 16 23 43" src="https://user-images.githubusercontent.com/51139521/190864318-1d5d3fd0-d777-4ecb-83e4-03f5306f6243.png">

[2022-09-19 12:47] dai-shi commented on #271
We probably want some more practices in docs.
#968 seemed nice one.

That said, this issue is old. So, let's close it.
Please open a new discussion to improve testing docs.

[2022-09-19 12:47] #271 closed

[2022-09-20 09:48] chrisk-7777 commented on #1300
I'll get this removed as per the comment here: https://github.com/pmndrs/zustand/pull/1231#issuecomment-1229575111

From wayback machine I think it might have been originally under drcmda's account (https://github.com/pmndrs/zustand/issues/1216#issuecomment-1236031336)

[2022-09-21 02:54] chrisk-7777 commented on #1300
Addressed by #1302

Thanks @KaiSpencer !

[2022-09-21 02:54] #1300 closed

[2022-09-22 09:37] enricobuehler opened #1306 ""This expression is not callable" with NodeNext module resolution"
When trying to import zustand with ```import create from zustand``` while using NodeNext moduleResolution inside tsconfig i get the ts error: "This expression is not callable".

Minimal reproduction:

- create new vite react-ts project
- set moduleResolution to NodeNext
- import create from zustand

[2022-09-22 09:42] enricobuehler commented on #1306
fixed by using ```import {default as create} from "zustand"```

[2022-09-22 09:42] #1306 closed

[2022-09-22 13:28] feuersteiner commented on #211
@dai-shi the problem that rises from putting actions in a store is a very long file sometimes that is not easy to ready, even though putting controllers in separate files with custom hooks can be cumbersome, it still guarantees readability.

[2022-09-23 17:41] corentinclichy opened #1310 "[DOCUMENTATION] ERROR 500 on https://react-query-firebase.invertase.dev/analytics/logging-events"
Hi,

Looks like this page is broken:
https://react-query-firebase.invertase.dev/analytics/logging-events

Thanks for the work you are doing !

[2022-09-23 22:59] dai-shi commented on #1310
wrong repo?

[2022-09-23 22:59] #1310 closed

[2022-09-25 13:42] kevin51jiang opened #1313 "[Documentation] Link Issue for TS - `create` without curried workaround"
The sidebar on the [TypeScript page](https://docs.pmnd.rs/zustand/guides/typescript) leads to https://docs.pmnd.rs/zustand/guides/typescript#create-without-curried-workaround

When clicked on, it goes nowhere. However, if you go to
https://docs.pmnd.rs/zustand/guides/typescript#undefined-without-curried-workaround it links to the proper section.

This probably has something to do with the "`" tags

[2022-09-26 00:39] dai-shi commented on #1313
@chrisk-7777 can take a look?

[2022-09-26 09:24] chrisk-7777 commented on #1313
Sure, assigned to myself. Thanks @kevin51jiang

[2022-09-26 12:31] doshiparth642 commented on #1128
`context.js:32 Uncaught Error: Seems like you have not used zustand provider as an ancestor.
    at useStoreApi (context.js:32:1)
    at useViewportHelper (toConsumableArray.js:7:1)
    at useReactFlow (toConsumableArray.js:7:1)
    at NestedFlow (NestedFlow.tsx:127:1)
    at renderWithHooks (react-dom.development.js:16305:1)
    at mountIndeterminateComponent (react-dom.development.js:20074:1)

[2022-09-26 12:45] doshiparth642 commented on #1128
context.js:32 Uncaught Error: Seems like you have not used zustand provider as an ancestor.
    at useStoreApi (context.js:32:1)
    at useViewportHelper (toConsumableArray.js:7:1)
    at useReactFlow (toConsumableArray.js:7:1)
    at NestedFlow (NestedFlow.tsx:127:1)
    at renderWithHooks (react-dom.development.js:16305:1)
    at mountIndeterminateComponent (react-dom.development.js:20074:1)

[2022-09-26 13:02] Toshinaki commented on #405
It's been over a year. Any progress on this?

Is `removeItem` still the only way to achieve this?

[2022-09-27 01:18] dai-shi commented on #1128
To confirm, if you don't use context with zustand, there's no issue, right?

[2022-09-27 01:19] bknill commented on #1128
The issue I had was a random <Handle /> attempting to render outside of React Flow Renderer

[2022-09-27 09:35] doshiparth642 commented on #1128
I think this is the problem of useReactflow() that error can occur when distract properties in zoomin, zoomout in react-flow-renderer

[2022-09-27 09:42] tfreitas90 commented on #1059
Hey, I had the same problem than OP and I fixed with the following quoted reply.
The difference is, instead of
`const create = createState => {...}` it should be:
`const create = () => createState => {...}`.

Thanks!

[2022-09-28 02:27] alfredsgenkins opened #1321 "Can create function accept a class?"
Hey!

From my observations, it seems like a `create` function can easily accept a function-constructing-a-class argument. Maybe can pass a class directly, have not really tried, more a theoretical question at 5AM... So:

[code]

**Looking at this monster, you might think: Why to accept classes?**

Well, if we assume store functions could need modification in the future, that would work really well

[2022-09-29 02:42] chrisk-7777 commented on #1313
Closed by merged PR here: https://github.com/pmndrs/website/pull/253#event-7479886533

[2022-09-29 02:42] #1313 closed

[2022-09-29 07:14] WenLonG12345 commented on #394
How about typescript? I tried to do so but TS throw errors

[2022-09-30 21:27] enyelsequeira opened #1332 "Update docs for slice pattern and usage of middleware such as devtools example included"
##  I was talking with @dai-shi about this and maybe this should be an issue to update

ideally it would be great to have a bit better documentation about the different slices patterns and how they can work or be used in different stores, example like this below

[code]

How can I update the store from another one if I am using the slices patterns
and yes, we have an example of how they work, but

[2022-10-01 09:13] dai-shi commented on #1332
@chrisk-7777 any thoughts on this?

[2022-10-01 10:49] chrisk-7777 commented on #1332
100% agree. I feel like we also had this in the wiki at some point.

I've added the documentation label and believe it should stay open.

[2022-10-01 22:27] #1217 closed

[2022-10-02 00:38] ulisesantana opened #1336 "set is not updating the state"
If you wrap the result of `create` in a function ends up not updating the state. No matter how many times you push the button, never is gonna update.

[code]

I was trying this for injecting dependencies to the store. However, this is getting tricky. Here you have [a codesandbox with a demo](https://codesandbox.io/s/hof-with-zustand-3r88k6?file=/src/App.js:164-502).

[2022-10-03 11:50] Peculiar-codes commented on #195
window is not defined

[2022-10-05 06:01] wuarmin commented on #128
Hey @dai-shi,
you mean, if we are passing a function, which returns a hook, we creating the possibility, that the receiver uses it wrong and violates the rules of hooks? So passing a function is recommended, but passing a higher order function, which returns  a hook is not recommend.

[2022-10-05 07:13] dai-shi commented on #128
Yes.

[2022-10-05 07:33] wuarmin commented on #128
Thanks!

[2022-10-05 10:03] chenningg commented on #1046
Hi, I'm trying to use persist middleware with the interdependent slices pattern as such:

[code]

and in the slice:
[code]

However, I'm still getting the typescript error on the persist(...a) in the root:
[code]

How do I fix this without having to do // @ts-ignore?

[2022-10-05 10:52] devanshj commented on #1046
Yes you'll have to write `["zustand/persist", unknown]` instead of `["zustand/persist", AppSettingsSlice]`. It's a known issue that can't be really solved, it's not a big deal because it doesn't compromise the types for you unless you're using `store.persist.setOptions` iirc.

[2022-10-05 16:26] nihilates commented on #394
@WenLonG12345

I was able to get my typescript to compile without error and see the working persisted storage by implementing typescript in this way:

[code]

So, passing a declared interface in to the `persist<...>` properly lined up my types.

[2022-10-05 17:57] leandroluk opened #1345 "Cannot find module 'immer' from 'node_modules/zustand/middleware/immer.js'"
Hello, I'm using zustand together with the immer middleware according to the code below:

[code]

But when I try to run tests using jest I get this error:

[code]

Jest is using the default "moduleFileExtensions" configuration as you can see in the error and the file having the "js" extension should be exported without any problem.

Has anyone caught this error?

[2022-10-05 18:00] #1345 closed

[2022-10-05 18:01] leandroluk commented on #1345
Looking at the middleware code I saw that it imports the immer, and I thought it was not necessary to install it and that it was already internally in zustand because of the middleware. To solve the problem just install the immer

[2022-10-05 18:12] Rec0iL99 commented on #1345
@leandroluk even I had faced this issue before and installing `immer` explicitly in my project did do the job.

@dai-shi can this be solved by moving `immer` from the devDeps to first level deps in the library's `package.json`?
This would be helpful since the people using zustand need not explicitly install immer in their projects to use the immer middleware from zustand since immer would come ins

[2022-10-06 03:02] dai-shi commented on #1345
Using `immer` is optional. Maybe quite a few people use it, but from the library perspective, it's not necessary. See also: https://github.com/pmndrs/zustand/blob/94dec53d9a0d061dd950d325ffe84d6fa1feb0ee/docs/guides/updating-state.md#deeply-nested-object

(fwiw, I personally wouldn't use immer with zustand.)

[2022-10-06 03:02] dai-shi commented on #1345
I think it's a doc issue. We don't yet have docs about `immer` middleware?

[2022-10-06 04:48] Rec0iL99 commented on #1345
We do have docs on the `immer` middleware.
https://github.com/pmndrs/zustand/blob/main/docs/integrations/updating-draft-states.md

I think we need to add a section in the doc where we ask the user to install `immer`, if they want to use `immer` with `zustand`.

[2022-10-06 04:51] dai-shi commented on #1345
Ah, we do. Good. Yes, please open a PR.

[2022-10-09 01:15] #1013 closed

[2022-10-09 20:29] devanshj commented on #1253
I think with #1344 and #1353 this can be closed?

[2022-10-09 20:29] devanshj commented on #1253
and https://github.com/pmndrs/zustand/blob/main/docs/guides/flux-inspired-practice.md
have two different ways of doing slices.

I think that both are doing the same thing, it's just that the flux version does not extract out the slices. That is this snippet from the flux doc...

[code]

Can be refactored into...

[code]

[2022-10-10 01:46] dai-shi commented on #1253
No, that is not a Flux pattern as I understand. Actions should be isolated from slices. That's my intention in the original snippet.

[2022-10-10 02:45] devanshj commented on #1253
I see, but we're anyway already far away from the "real flux" :P

[2022-10-10 03:12] dai-shi commented on #1253
😄 So, I'd say, flux pattern and slice pattern are different thing.

[2022-10-10 03:23] devanshj commented on #1253
Maybe then we should remove this link from the flux guide then?

This makes it sound like slices pattern can be used with flux pattern.

Or maybe I'm misreading and the link is there to mention slices pattern as an alternative to flux pattern? If that's the case then perhaps it should be worded more clearly.

[2022-10-10 03:33] dai-shi commented on #1253
Yeah, I don't mind if my original intention is kept somewhere.
Let's have @chrisk-7777 in loop.

[2022-10-11 08:50] botika commented on #508
I update it and make a mini library. Give me a week. I'm pretty busy.

On Fri, May 20, 2022 at 11:29 AM icjhomz ***@***.***> wrote:

[2022-10-13 00:35] AddictArts opened #1360 "Zustand v4 immer middleware is not compatible with Typescript"
[code]

The `immer` is imported from `zustand/middleware/immer`

[2022-10-13 01:09] AddictArts commented on #1360
This is not an issue if you follow
https://docs.pmnd.rs/zustand/integrations/updating-draft-states

and be sure to not have your `create` call with the type, bad `create<SomeState>(immer<SomeState> ....` just call `create`.

[2022-10-13 01:12] AddictArts commented on #1360
Closing this, it is not a bug.

[2022-10-13 01:12] #1360 closed

[2022-10-13 05:31] eightyfive commented on #830
@AnatoleLucet It is not possible to use a setter function if hydration returns `state === undefined`.

This does not work:

[code]

`state?.init` setter function is also `undefined` in that case.

In my case I use React Native (async storage...) on an Android device, and it happens on the first app launch, if nothing has been persisted yet/before.

My work around is using the "wrong example" this

[2022-10-13 08:23] Carnageous commented on #685
I'm sorry to bump this issue, but was there any middleware or API added to Zustand that allows to set the default comparison function to shallow?
We just migrated a v3 codebase to v4 and were pretty suprised by this rather big change. We now have to add "shallow" to hundreds of store selects, and a middleware would be a lot cleaner.

[2022-10-13 08:35] dai-shi commented on #685
You can specify custom equality function to the store hook. From the latest v3 to v4, there are no changes in JS except for deprecation (is it what you see?). There are big changes in TS, though.

It sounds like some mistakes.

[2022-10-13 11:05] Carnageous commented on #685
Thank you @dai-shi for the very fast reply. And you were right. it was a mistake on our side. I was sure that selecing store slices with `const [count, setCount] = useCountStore(s => [s.count, s.setCount]` would only re-render the component when either `count` or `setCount` changes, but it does that on every store change. In the README for v4 you clearly say that, so I should have read that.

Anyw

[2022-10-13 11:12] dai-shi commented on #685
@Carnageous It should do on every store change in v3 too. You need to do `const [count, setCount] = useCountStore(s => [s.count, s.setCount], shallow)` both in v3 and v4. (btw, my preference is is to use two hooks in two lines, mostly stylistic.)

[2022-10-13 23:33] m3c-ode commented on #324
Hi @gino , could you please show an example of exactly what you ended up wrapping for this?

[2022-10-14 14:17] devanshj commented on #1253
Closing as the issue in OP is resolved with #1344 and #1353.

[2022-10-14 14:17] #1253 closed

[2022-10-15 17:25] christian-gama commented on #685
I needed a wrapper for immer and set shallow as default. This is my result:

[code]

[2022-10-17 07:55] Carnageous commented on #685
Thank you very much, this is what I wanted but I struggled with some of the typing.

And I did notice, that with this implementation I cannot use `.getState()` on the stores anymore. This is probably because we're wrapping/calling the baseStore hook and returning the result. This means all properties defined on the the return object of `_create` (the useBaseStore object) are not exposed, right?

[2022-10-17 23:22] scatterfish opened #1368 "zustand 4.1.2 create() initializer type problems with store mutators"
I have a function that extracts out the initializer for a store to a function so that I can create many variants of a particular store, in this case various cache stores.

I was previously working with zustand 4.1.1 and the only type errors that I had were the getter and setter possibly being undefined, so I could suppress them using assertions.

After updating to zustand 4.1.2, there are now new

[2022-10-17 23:30] dai-shi commented on #1368
Interesting. I can't reproduce the error in typescript playground: https://tsplay.dev/mbQv4N

(how can we change the typescript version in codesandbox?)

[2022-10-17 23:54] scatterfish commented on #1368
I edited the `package.json` file to use 4.8.4 as the TypeScript version, so if you want to use some other version you can change that value.

[2022-10-18 00:24] dai-shi commented on #1368
https://codesandbox.io/s/zustand-create-initializer-with-storemutator-problem-forked-zs900n?file=/src/App.tsx
It still shows errors with TS 4.7.4.

[2022-10-18 00:40] scatterfish commented on #1368
You're right. It seems like what actually causes the new type errors is updating from zustand 4.1.1 to 4.1.2

[2022-10-18 00:44] dai-shi commented on #1368
https://codesandbox.io/s/zustand-create-initializer-with-storemutator-problem-forked-477063?file=/src/App.tsx
Downgrading to v4.1.1 changes it.
So, #1348 must be related.
We need to ask @devanshj for help. It's weird that TS playground doesn't repro. Hope it does..

[2022-10-18 00:44] dai-shi commented on #1368
@scatterfish Can you update the issue title and description please?

[2022-10-19 19:35] devanshj commented on #1368
Long post ahead, if you're looking for just a fix, the codesandbox with the fix is linked at the very end.

This behavior is kinda correct, let me first build a minimal repro...

[code]

Here it is wrong to expect `get` to be `StoreApi<State>["getState"]` and `set` to be `StoreApi<State>["setState"]`... Why? Because they can be anything, `M` will decide what they'll be, it's possible they are `42`

[2022-10-19 21:57] scatterfish commented on #1368
The depth of type system intricacies here is far beyond my knowledge so I can't weigh in on the matter of what should be done about it, but thank you for the workarounds in the meantime!

[2022-10-19 22:18] devanshj commented on #1368
No problems! And haha yeah I wouldn't expect most people to understand it, it was mostly an explanation for @dai-shi and posterity.

[2022-10-19 23:57] dai-shi commented on #1368
@devanshj

When I tried some experiments before v4, I thought it would be nice to freely mutate store (especially `setState`), so option 1 would be taken.
However, reading this thread and the fact that all our middlewares in this repo mutate stores as subtypes, I now think option 2 is better even if it comes with a little lie. middlewares should follow the keep subtype rule.

[2022-10-20 00:04] dai-shi commented on #1368
I'm confused, which PR is option 1 and which is option 2?

[2022-10-20 00:07] devanshj commented on #1368
However, reading this thread and the fact that all our middlewares in this repo mutate stores as subtypes, I now think option 2 is better even if it comes with a little lie. middlewares should follow the keep subtype rule.

Yeah, I kinda agree. The good part is there are still no restrictions, users can use middlewares that don't preserve the subtype relationship and they'd still seamlessly work,

[2022-10-21 12:38] guenyoo opened #1374 "subscribeWithSelector doesn't fire or notify only on state changes that's passed to subscribe"
Hey folks,

I like Zustand a lot and would actually need to use it in between React and VanillaJS, however I'm running into problems. Am I using it incorrectly or is something not working correctly?

I'm referencing to this part of the documentation:

[Reading/writing state and reacting to changes outside of components](https://docs.pmnd.rs/zustand/recipes/recipes#reading/writing-state-and-reactin

[2022-10-22 09:34] chrber04 opened #1377 "NextJS + Zustand localStorage persist middleware causing hydration errors"
I am unable to persist a few states like the theme, layout etc in my Nextjs app using Zustand with the persist middleware. I'm using localStorage as the storage option. After refreshing the window, it causes a content mismatch error:

`Error: Hydration failed because the initial UI does not match what was rendered on the server.`

If this already is a known issue, how would I go about using the pe

[2022-10-22 13:13] #1374 closed, assigned to nobody

[2022-10-22 13:21] dai-shi commented on #1377
This is an expected behavior because what server knows and client knows is different (=mismatch). You could double render on client or don't let server render that depends on client data.

I'm not exactly sure how zustand users work around this. Let's see if someone responds.

[2022-10-22 22:42] #1368 closed

[2022-10-23 19:27] Sec-ant opened #1381 "TSC throw errors when compiling with "moduleResolution": "NodeNext""
When I want to import the default `create` function from zustand/vanilla while setting `NodeNext` for both `module` and `moduleResolution` in `tsconfig.json`, TSC will throw an error: `error TS2349: This expression is not callable.`

I mentioned this issue in https://github.com/microsoft/TypeScript/issues/50058#issuecomment-1288155712. However, according to the reply, this is a zustand problem:

K

[2022-10-24 00:19] dai-shi commented on #1381
Thanks for reporting.

Can anyone elaborate this issue? How can we declare types for mjs entrypoints?

(It looks the same if you import `create` from `zustand`. https://stackblitz.com/edit/node-mcrpwh?file=src%2Findex.ts )

[2022-10-24 02:17] charkour commented on #1377
With zustand v3, we use a custom storage engine and make get localStorage an async method.

Haven't tried this workaround yet with v4, but it works with v3, and the latest next and react versions.

See this comment: https://github.com/pmndrs/zustand/issues/1145#issuecomment-1202871214

[2022-10-25 03:56] Sec-ant commented on #1381
I think I find the reason why zustand does not work properly as an esm import.

While I was searching for related problems, I bumped into this solved issue: https://github.com/hayes/pothos/issues/597, which was also an esm module resolution problem. The author finally got his package fixed after several pushes and I noticed [one of his comments](https://github.com/hayes/pothos/issues/597#issuecomm

[2022-10-25 04:45] dai-shi commented on #1381
@Sec-ant Thanks! Good investigation.
One thing I'm not sure is our `vanilla.d.ts` file doesn't have any imports from other files. So, why do you still have the issue with `import create from 'zustand/vanilla'`?

[2022-10-25 04:58] Sec-ant commented on #1381
I think it is caused by the extended declarations in the middleware type files:

[code]

[2022-10-25 05:16] dai-shi commented on #1381
@Sec-ant If you have a chance, can you try hand-patch the d.ts files in your local folder (or use `patch-package`) and see if adding `.js` resolves the issue??

[2022-10-25 08:14] Sec-ant commented on #1381
@dai-shi OK, I made a simple test, and it seems that the .js extension is not the only problem, and hand patching them will not fix it (at least not for vanilla). It seems to be another totally different problem. I still do not fully understand whether it is a Typescript bug or not, but I'll show what I've got so far:

1. I cloned the zustand repo as `zustand-patch` locally
2. I ran the following

[2022-10-25 10:00] Sec-ant commented on #1381
I have some promising findings:

If I change the `package.json > exports > ./vanilla > types` field from `"./vanilla.d.ts"` to `"./esm/vanilla.d.mts"` like this:

[code]

and add a new file: `dist/esm/vanilla.d.mts` whose content is copied from `dist/esm/vanilla.d.ts` (We can safely copy the content because no `import` or `export` is used in `vanilla`, so no `.js` extension issues). We can finally

[2022-10-25 10:09] dai-shi commented on #1381
Just about package.json:
Does this work?
[code]

[2022-10-25 10:34] Sec-ant commented on #1381
I think there might be a better way to handle this, we can add a `package.json` file with `type: "module"` in the `esm` folder, just like what [@pothos/core](https://cdn.jsdelivr.net/npm/@pothos/core@3.22.8/esm/package.json) did, and do not use `types` field in the beginning, but let TSC find the types automatically.

[2022-10-25 10:49] dai-shi commented on #1381
We did that once in some project, and there was a problem at that time. So, I would like to avoid it if the "changing the order" hack works.

[2022-10-25 11:09] Sec-ant commented on #1381
Ok, I'm fine with this approach. But if that's the case, I'm concerned that adding ".js" extensions may also break some of the packages.

[2022-10-25 14:01] laclance commented on #800
I have the same requirement, very large single page app where multiple stores need to interact with each other easily but 1 or 2 need not be persisted.

[2022-10-25 22:50] dai-shi commented on #1381
Is it ☝️  about adding .js in *.d.mts files?

---

So, in summary, what we need to do is:
1. modify `package.json` so that "import" condition picks `esm/*.d.mts`.
2. rename `esm/*d.ts` to `esm/*.d.mts`.
3. add `.js` extension for import/export statements in `esm/*.d.mts`.

Sounds okay?

[2022-10-26 04:29] Sec-ant commented on #1381
Yes, I'm not sure whether this will break other runtime or bundlers. Specifically, what concerns me is [this](https://github.com/microsoft/TypeScript/issues/50152#:~:text=These%20bundlers%20use,the%20user%20experience.).

Basically yes. But 3 can be tricky if the transformation is applied on cjs type emits after build. And in our case, I think the extension should be `.mjs` rather than `.js`. I al

[2022-10-26 05:50] grantyi commented on #128
@dai-shi Would it possible to make a more robust example of using React Context + Zustand? I am having difficulty creating individual instances per component. When I create multiple instances of a component using React Context + Zustand, they seem to still be manipulating the same Zustand store

[2022-10-26 05:55] dai-shi commented on #128
https://codesandbox.io/s/polished-pond-4jn1e2 is the only example I created.

Sounds like there's some misusages??

[2022-10-26 06:18] grantyi commented on #128
It would appear so! Thank you for sharing that example - I will have to see what I’m doing wrong

[2022-10-26 08:35] dai-shi commented on #1381
@Sec-ant Can you try #1387?

I'm a little skeptical about the mjs extension.

[code]

[2022-10-26 09:23] Sec-ant commented on #1381
![image](https://user-images.githubusercontent.com/10386119/197985734-eb49dd72-2b7f-4804-b9fc-d9db39d2469f.png)
I think we should take those extended declarations into consideration too?

[code]

After I hand patched them, there were no more resolution errors, and I can build successfully :)

My current project is not using react, so I need to look further into that.

[2022-10-26 09:40] jrobeson opened #1389 "The example for createSelectors no longer works in zustand 4.1.3"
As seen here: https://github.com/pmndrs/zustand/blob/main/docs/guides/auto-generating-selectors.md and in the linked [codesandbox](https://codesandbox.io/s/zustand-auto-generate-selectors-forked-7wzsuz?file=/src/selectors.ts).

Just set zustand to the latest version (4.1.3 as of this moment) and you'll see the type errors

[2022-10-26 09:41] jrobeson commented on #1389
maybe examples like this should be part of the test suite somehow. I'm not sure how that would work though.

[2022-10-26 10:15] dai-shi commented on #1381
Good point.

That's great to hear.

Can you quickly check if any of middleware (except for immer) works for you? It's the same as `react.mjs`.

Yes, for "module" condition.

Ah, now I get it. Yeah, it's safer to keep them.

[2022-10-26 10:25] Sec-ant commented on #1381
Already did that, I use `subscribeWithSelector` in my project and it works fine after all the extensions being added.

I also made a simple test on react, and I didn't find any problems:

👇 This piece of code will build just fine:
[code]

[2022-10-26 10:49] dai-shi commented on #1381
Sounds great!

[2022-10-26 11:04] dai-shi commented on #1389
Thanks for reporting. Looks like this is because the change in v4.1.0 #1144 and #1199.
From the library perspective, it's an intentional change.
Let's update the example.
How's this: https://codesandbox.io/s/zustand-auto-generate-selectors-forked-y1zfso?file=/src/selectors.ts

[2022-10-26 12:10] laclance commented on #1145
any one have a typed example please? I am also using slices, ie:
[code]

[2022-10-26 14:23] jrobeson commented on #1389
works for me. my only suggestion is to explicitly type `s` in `(store.use as any)[k] = () => store((s) => s[k as keyof typeof s]);`

Otherwise, it's nice. thanks :)

[2022-10-26 14:23] #1389 closed

[2022-10-26 15:09] dai-shi commented on #1389
You are welcome to open a PR. I'll also let the doc/website team know and see if someone can take it.

[2022-10-27 00:24] JStuve opened #1392 "Zustand/middleware - devtools - NextJS 13 w/ Turbopack Error: "Cannot use 'import.meta' outside a module""
With the announcement at NextJS Conf, I was eager to try out the speeds of [Turbopack](https://nextjs.org/blog/next-13#introducing-turbopack-alpha). I installed and setup the most basic state for Zustand and was presented with the follow error that's specific to  `'zustand/middleware'` `devtools` integration:

[code]

It's worth noting that the error only occurs using the "Turbopack" command `next

[2022-10-27 02:42] dai-shi commented on #1392
Thanks for reporting!
Hm, it uses cjs/loader, but picks "esm".
I wonder if they use "module" condition or "import" condition, but maybe we shouldn't use `import.meta` for "module" condition.

[2022-10-27 02:54] dai-shi commented on #1392
Can you try this?
https://ci.codesandbox.io/status/pmndrs/zustand/pr/1393
See "Local Install Instruction" ☝️

[2022-10-27 10:24] Hideman85 commented on #716
The trace feature is really great for debugging, I would to see it available 🙂

[2022-10-27 14:15] JStuve commented on #1392
Test with and without Turbopack, works great! Thanks for fix!

[2022-10-27 23:03] lucasmerlin opened #1395 "Zustand breaks with NextJS 13 when enabling appDir (Cannot read properties of null (reading 'useDebugValue'))"
I created a minimal reproduction here:
https://stackblitz.com/edit/nextjs-egfcaj?file=package.json

It throws the following error:
[code]

If you remove the "appDir: true" line from next.config.js, the counter works as expected. The weirdest thing is that the project doesn't even use the app dir, just enabling the flag is enough for the error to happen.
After a bit of debugging in my project, comp

[2022-10-28 09:59] laclance commented on #108
I was also hoping for a better solution, currently I am doing something similar to this:

[code]

but since I always want values to be sorted would be nice to be able to just do this without the `getValues`:
`values: get()?.values?.sort() || [1, 2, 3, 4]`

Obviously you can use a selector hook or do it when updating values but they get updated more often than read but still get read a lot so would

[2022-10-28 10:09] woehrl01 commented on #108
@laclance in your case, I suggest two alternatives:

1. Use a different datastructure which is already sorted (e.g. https://github.com/shinout/SortedList (not tested, just searched for it).
2. Move the sorting to `addValues` where you construct your new values state.

[2022-10-28 11:29] everdrone commented on #1368
Hi, don't know if related but searches redirected me here

Is it possible to wrap a `vanilla` `create<T>()` store inside a default `create<T>()(persist())` using typescript?

I'm trying to access the store from inside and outside react components but the `persist` middleware does not accept a vanilla store

[2022-10-28 11:35] dai-shi commented on #1368
You can't create a store from a store. Just using the vanilla store with persist would be better.

[2022-10-28 11:41] everdrone commented on #1368
Trying this pattern to have both vanilla and the react hook

[code]
(example taken from the readme)

Ideally this implementation would make the react code DRY

but I can't add `persist` to wrap my `vanillaStore`

[2022-10-28 11:51] dai-shi commented on #1368
You need to use `persist` for vanilla store.

btw, I'm planning to deprecate `create(vanillaStore)` usage in the future. Because unlike v3, it's easy to do in userland with v4 api.

[code]

[2022-10-28 12:10] everdrone commented on #1368
That solves it!
but what about typings in the code you provided?

[code]

[2022-10-28 12:29] dai-shi commented on #1368
You want create()() for TS:
[code]

[2022-10-28 20:40] laclance commented on #108
Thank you, I kind of am doing that but I just gave a simplified example, I have a lot of state and many cases where I would like to do something similar.

[2022-10-30 16:56] g3r4n opened #1399 "Ytitotiot tout"

[2022-10-30 22:03] #1399 closed

[2022-10-30 22:11] adi518 opened #1400 "Rerenders MUI DataGrid when updating the selection model"
I'm trying to use Zustand with MUI DataGrid, so I set up a store that has the table data state and the selection model state. When I update the selection model, which is just an array of row ids returned from the table, it's causing a re-render of the entire table. If I set up a local selection model state with `useState`, the issue is gone. Any ideas why?

[code]

[2022-10-31 12:39] #1392 closed

[2022-10-31 17:10] TiagoCavalcante commented on #800
I need this for a different purpose: only persist part of the store.

[2022-11-01 08:41] laclance commented on #132
Can make a custom hook to update on changes
[code]
but its just the same work to compute the value on the fly `const isSignedIn = useBoundStore(state => !!state.user.usernamecomponents)`

[2022-11-01 12:10] akshayKrSingh commented on #1128
This might be help -> https://reactflow.dev/docs/guides/troubleshooting/#warning-seems-like-you-have-not-used-zustand-provider-as-an-ancestor, I had a similar issue when calling `useReactFlow`.

[2022-11-01 16:34] elhe26 commented on #508
I'm guilty of using slices to divide my code and using immer + devtools too. This will add to the complexity we were trying to avoid with redux.

[2022-11-01 18:28] Sec-ant commented on #1395
Does anyone like me think this might have something to do with the ["Dual Package Hazard"](https://nodejs.org/api/packages.html#:~:text=The%20reason%20that,to%2Dtroubleshoot%20bugs.) caused by different instances of a same dependency?

[2022-11-01 22:47] mikebridge commented on #1242
Don't know if this helps anyone else, but I found that if I want to combine the middleware types with slices, they each need to be explicitly typed [according to the documentation](https://github.com/pmndrs/zustand/blob/main/docs/guides/typescript.md#slices-pattern):

[code]

[2022-11-01 23:05] dai-shi commented on #1395
Zustand library itself shouldn't suffer from Dual Package Hazard, because it doesn't have module state. (On the other hand, Jotai and Valtio have module state, so they can suffer.)

[2022-11-02 04:14] Sec-ant commented on #1395
@dai-shi yeah you're right it is not caused by zustand library itself. I did some test and I saw this error is triggered when `useDebugValue` is called on the server side. This simple patch will make the code work. Not sure about the proper way to fix this though:

[code]

[2022-11-02 04:44] dai-shi commented on #1395
Ah, maybe because React doesn't provide ESM.
Can you try this?
[code]

[2022-11-02 04:49] Sec-ant commented on #1395
nope, this won't work, same error.

[2022-11-02 06:26] Sec-ant commented on #1395
These two issues might be relevant? (but neither solves this problem)
https://github.com/vercel/next.js/issues/41929
https://github.com/react-bootstrap/react-bootstrap/issues/6475

[2022-11-02 06:47] Sec-ant commented on #1395
I start thinking that this issue may be a misuse of the nextjs 13 `appDir` feature? If I follow the [docs](https://beta.nextjs.org/docs/upgrade-guide#migrating-from-pages-to-app) to setup/migrate the app to nextjs 13. Everything just works: https://stackblitz.com/edit/nextjs-od7fky?file=app/Button.jsx

[2022-11-02 16:08] wuarmin commented on #400
@dai-shi
I refer to your example from the 2nd and 4th answer and I have a question: Why you are using `createStore` and not just `create`?

Thanks

[2022-11-03 14:05] dai-shi commented on #1395
https://github.com/pmndrs/jotai/issues/1529#issuecomment-1302156604

[2022-11-03 14:07] alizaeda commented on #1395
Same issue without appDir is enabled

[2022-11-03 18:04] joebobmiles opened #1407 "Middleware that does not mutate the store cannot be composed with middleware that does (not)"
Hi, I'm working on updating [zustand-middleware-yjs](/joebobmiles/zustand-middleware-yjs) to the latest version of Zustand. One of my tests is to verify composing middleware still works, and TypeScript is giving the following type error when I compose the Yjs middleware with the Immer middleware:

[code]

From the docs I know there are two ways to type a middleware: the 'no mutation' style and the

[2022-11-04 00:08] dai-shi commented on #1407
@devanshj Could you help on this?

[2022-11-04 00:24] devanshj commented on #1407
Middlewares that change the store type and the middlewares that don't change the store type are compatible with each other.

I'll require a minimal reproduction of the error you're seeing to help you out, you can use the typescript playground (tip: you can use `declare const yjs: YourType` instead of writing the full implementation there), or a codesandbox, or if none of that works then a git repo

[2022-11-04 06:56] PeanutQAQ commented on #100
The most Simple & Powerful state management library  in that i have used!!!

[2022-11-04 14:33] joebobmiles commented on #1407
Here's a reproduction in [TypeScript Playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAYygUwIY2QGjgbzgZRnWQGEV1ptDpkBZAVyJmgEkATZAOxmADNhkUOAF84vKBBBwARAC96AZyKc20gNwAoUJFi44oEIJFiJUuYuVsA9CGBs2AG2QB3VCisHB6reGjwAVHCoCnAAmiaSMgCeAFYK3howUWDIYXFwALxwADwacHAAKnDIAB4YKiH0nADWnBDOnJh5cCycDEzQIaXlbCEA2tQo7RRQ7Fw8-ILYVbX1nAC6ffOZcEtN+QDyjMPMUF1lXL2rg3SMI2PcfAJQ0zV1DYvLWUsaAHwAFM1sEAgAX

[2022-11-04 17:16] doliG opened #1408 "Type error with middleware + slice pattern"
Hello,

Tanks for providing us this library. I have some trouble using _slice pattern_, _middleware_ and _TypeScript_ together. Here's my code:

[code]

And got this incomprehensible typescript error.

[code]

I also have typing problems when trying to use custom middleware

[code]

[code]

I'm clueless on how to solve it, can you help ?

Note: in both case the code is working fine, it's just a pr

[2022-11-05 02:11] devanshj commented on #1407
You're missing the extra `()` after `create` as shown in the typescript docs, [it works fine with it](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAYygUwIY2QGjgbzgZRnWQGEV1ptDpkBZAVyJmgEkATZAOxmADNhkUOAF84vKBBBwARAC96AZyKc20gNwAoUJFi44oEIJFiJUuYuVsA9CGBs2AG2QB3VCisHB6reGjwAVHCoCnAAmiaSMgCeAFYK3howUWDIYXFwALxwADwacHAAKnDIAB4YKiH0nADWnBDOnJh5cCycDEzQIaXlbCEA2tQo7RRQ7Fw8-ILYVbX1nAC6ffOZcEtN

[2022-11-05 02:41] joebobmiles commented on #1407
I guess that's what I get for not paging through change notes and jumping from 3.5 to 4. It is devilishly easy to gloss over that initial parenthesis or even mistake it for a typo if you don't read that introductory paragraph.

Thanks for the help!

[2022-11-05 02:44] devanshj commented on #1407
Yes I understand, it's a bit unintuitive without the docs... Hence my suggestion has always been that we only have one way of writing it ie with extra parenthesis, in that case users won't need docs (as you'll have to call `create` with no parameters first or else it won't type-check).

[2022-11-05 03:44] dai-shi commented on #1407
Yeah, let's do that.

[2022-11-05 04:02] #1407 closed

[2022-11-06 17:55] MaheeGamage commented on #1145
Apart from creating custom Zustand store components, this can tackle with HOC (or NextJS Layout) that wrap the main react component and waits till the first `useEffect` hook fire.
[code]

[2022-11-08 22:47] markhughes commented on #1112
@kcibdev what was your solution?

[2022-11-09 22:00] jescalan commented on #1395
Hi everyone! Just want to note that we're looking into this on the nextjs team.

[2022-11-10 04:40] Yazington opened #1416 "Demo website is flickering on my machine"
## Summary

Demo website is flickering on my machine

## Link to reproduction

## Check List

Please do not ask questions in issues.

- [x ] I understand this is not a question.

Please fill this template if you're filling an issue regarding TypeScript.

- [ ] I've added a link to a [typescript playground](https://www.typescriptlang.org/play) or [codesandbox](https://codesandbox.io) with a minimal

[2022-11-10 06:54] tuoxiansp commented on #1026
Met the same problem while using react-pixi-fiber.

[2022-11-10 09:37] tuoxiansp opened #1419 "> Met the same problem while using react-pixi-fiber."
Resolved: just upgrade the version of the react-reconciler from 0.26.2 to 0.29 .

Seems like React will use `useSyncExternalStore` from reconciler, but the old version of reconciler does not contain the `useSyncExternalStore` .

Also I noticed that zustand was using a shim for `useSyncExternalStore`. I guess it doesn't work on the environment that contains both old and new versions of reconciler.

[2022-11-10 09:37] #1419 closed

[2022-11-10 09:38] tuoxiansp commented on #1419
I'm so sorry.  Misoperation.

[2022-11-10 10:53] feuersteiner commented on #1026
thanks for the update @tuoxiansp

the root of the issue from my side is how react-babylon-js handles its internal component state (because it is not a purely react component, it is coupled with babylonjs).

my fix was simply to list the state higher up to the Babylon component, and passing the changes as props inside that component, it solved it for me.

example:

instead of :
[code]

it became :

[2022-11-10 14:41] adriannecris commented on #1395
Hello, I've encountered the same Issue with this, specifically by using zustand persist middleware

![image](https://user-images.githubusercontent.com/35050635/201120978-ce48895b-d10c-4cb7-85bb-79ef6cb56607.png)

[2022-11-11 11:03] TomBeckett commented on #1395
@jescalan Good news! Anywhere we can track progress of the investigation?

[2022-11-11 22:13] jescalan commented on #1395
No, it's generally in our company slack. We will have something out for this soon though, it's an active priority. The core issue is the ESM thing mentioned above, which is also causing bugs with a number of other things.

[2022-11-12 22:37] btran946 commented on #1395
@jescalan any suggestions on state management tools similar to Zustand in the mean time?

[2022-11-14 18:12] mskrzypek opened #1427 "Zustand produces SyntaxError in Chrome<66 (optional catch binding)"
## SyntaxError in older browsers due to optional catch binding not transpiled

Zustand codebase utilizes "optional catch binding" JS feature (eg. here: https://github.com/pmndrs/zustand/blob/main/src/middleware/devtools.ts#L163) which is [ECMAScript Stage 4 proposal](https://github.com/tc39/proposal-optional-catch-binding) and is not supported in Chrome versions less than 66: https://caniuse.com/?

[2022-11-14 23:48] dai-shi commented on #1427
Nice catch. Thanks for reporting.
Seems like you are using esm, not cjs.
cjs target is old browser, but esm target is modern.
I don't think it's easy to change the config only for this.

That said, it's the only one place we use optional catch binding (and I was a bit anxious), so let's change the source code.
Would you like to open a PR?

[2022-11-15 11:45] nhatimme commented on #1395
We also facing a issue when we want to load the store into a file which is located at /app/contact.tsx (It gives an error like: ```
Unhandled Runtime Error
Error: useRef is not a function
[code]
import useBearStore from '../../stores/cart'

function HomePage() {
  const { bears } = useBearStore();
  return (
    <main>
      Contact
      { bears }
    </main>
  )
}

export default HomePage;
[code

[2022-11-15 12:05] adriannecris commented on #1395
Have you tried adding `'use client';` at the very first line.  [Reference in this link](https://beta.nextjs.org/docs/rendering/server-and-client-components#convention)

[2022-11-15 12:13] adriannecris commented on #1145
Any updates on this issue? I'm currently following @MaheeGamage implementation but in _app.tsx,

[2022-11-15 12:32] nhatimme commented on #1395
@adriannecris Thanks. So it is impossible to use it as Server Side component?

[2022-11-15 19:07] devanshj opened #1430 "Suggestion: drop uncurried support of `create`"
I've lost count of how many people have missed the extra parenthesis in `create()(...)` (and the wrong usage ie `create(...)` doesn't even get caught because it's allowed). I don't see how supporting the `create(...)` usage adds any value, it's just creating trouble for many people (including me). I know I've suggested this before but I want to make the suggestion official hence opening an issue.

[2022-11-15 23:32] dai-shi commented on #1430
Thanks for opening a suggestion. Let's wait others to comment. One note is as such a change is breaking, it will be only possible in v5.

That said, my personal comment would be a) `create(...)` is still very valid and natural syntax for JS users, and b) `create()(...)` simply doesn't look comfortable, so I prefer to use `create(...)` without middleware, and I'm not a big fan of middleware. They a

[2022-11-16 04:48] dohomi commented on #1145
Just curious to know: is there a storage which might work client and server side? currently I am using localStorage and wrap my app with `next/dynamic` and ssr:false

[2022-11-16 05:49] devanshj commented on #1430
There's also an option to support it in runtime but not include it in types (ie .d.ts won't include the uncurried overload)

[2022-11-16 06:18] evgeny-rov commented on #1145
If you are trying to use browser API it makes sense that you would have to wait for next to hydrate the page before trying to access localStorage, which means what you probably want is a CSR page or client-only component.

My solution is to keep the page SSR, dynamically load the component that uses the client store, and render it on that page.
Which is what also suggested in the Next.js [docs](ht

[2022-11-17 11:10] gabimoncha commented on #405
@dai-shi @AnatoleLucet having this kind option would probably fix this issue. I'm not very in tune with the library's ins and outs and not sure if this thing is possible.
Delaying the hydration or making getStorage asynchronous in order to wait for a trigger or action to happen would be of great help for mobile devices especially

[2022-11-17 11:55] dai-shi commented on #405
Wonder how @AnatoleLucet would like to do with these open issues.

[2022-11-17 16:17] coltanium13 opened #1436 "Are Zustand devtools deprecated or not?"
In zustand v3, i have deprecation warnings. However, i am also seeing change logs in the zustand v4 docs for using devtools.

Should i stop using devtools in v3, or stop using it?

Is zustand v4 going to allow and support devTools, or is it officially gone?

The docs still say you can use devtools. So I'm confused. Thank you!

[2022-11-18 01:25] jescalan commented on #1395
Yeah, it's never going to be possible to use zustand in a server component, as state is not supported by server components in general. It works quite well in app directory right now as long as you are using client components. Actually I think it may be working fine with the latest version of nextjs, [I just made a reproduction repo here](https://github.com/jescalan/zustand-next13-testing) and ever

[2022-11-18 12:50] nhatimme commented on #1395
@jescalan: Perfect.

[2022-11-20 19:39] Vamsi-Annabathula opened #1440 "Store is getting sorted"
## I am trying to store the state object in a specific order. But somehow there's sorting of the keys in storing/persisting them.

## Example :
initial state that I declared: {
   stepIndex: 0,
  form: {
    agreement: {
      opted: true,
      label: "Get Started",
   },
    upload: {
      opted: true,
      label: "Upload",
    },
    sign: {
      opted: false,
      label: "Sign",
    },

[2022-11-20 19:48] #1440 closed

[2022-11-21 09:22] mfkrause commented on #800
You can already do that using `partialize`. [See here.](https://github.com/pmndrs/zustand/blob/main/docs/integrations/persisting-store-data.md#partialize)

+1 to the original suggestion, though.

[2022-11-21 15:51] TiagoCavalcante commented on #800
I'm using that now, the problem is that about half of my store should be saved, and half shouldn't, and so I have to list half of the store twice.

[2022-11-28 19:54] MilosLoncar commented on #650
In case anybody needs a quick one to get going with `persist` and `subscribeWithSelector`:

[code]

[2022-11-29 14:51] illarionvk opened #1452 "Export `WithImmer` type"
## Summary

The VSCode editor reports that the inferred type is not portable and advises adding a type annotation. Typescript CLI (v4.8.4) doesn't report this as error.

The inferred type is:

[code]

The `AppState` type is my custom type. I can import `UseBoundStore` and `StoreApi` from zustand, but `WithImmer` type is not exported from the immer middleware.

Could you export the `WithImmer` type

[2022-11-29 22:56] #1452 closed, assigned to nobody

[2022-11-30 18:53] underfisk opened #1456 "Export internal types such as ExtractState"
## Summary
Currently, when consuming the new v4 context-based API it can become verbose and in order to facilitate the creation of a context-based store in my current project I do need to re-use a few types and provide more type safety at the application level.
Not exposing the internal types could be international but for library authors or anyone that's actually consuming and enhancing local cod

[2022-11-30 21:48] micah-redwood commented on #685
@Carnageous , I'm curious, were you able to find a suitable solution to avoid adding `shallow` to tons of hooks in your codebase?

@dai-shi , I can see how using two lines instead of creating, comparing & destructuring an array makes sense when you're only using two state properties, but how do you handle more than two? Do you create a new line for each one, e.g.

[code]

In the years I've used Zu